<div class="row">
  <div class="col-md-12">
      <h2>Etape 1 - Choisir le fichier source</h2>
      <label for="inputExcel">Choisr le fichier Excel source</label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <form role="form">
          <div class="form-group">
            <input type="file" name="excelSource" ng-file-select="onFileSelect($files)" multiple class="form-control">
          </div>
      </form>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-sm btn-primary" ng-click="uploadFile($files)">Upload</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ng-show="addresses.length > 0">
      <h5>{{addresses.length}} addresses found</h5>
    </div>
    <div ng-show="uploadError != null">
      <h5 class="text-danger">Aucune adresse trouv&eacute;e: {{uploadError}}</h5>
    </div>
              <!--table class="table">
                <thead>
                  <th>Dest.</th>
                  <th>Compagnie</th>
                  <th>Address</th>
                  <th>Add. comp.</th>
                  <th>City</th>
                  <th>Province</th>
                  <th>Zip code</th>
                  <th>Quantity</th>
                </thead>
                <tbody>
                  <tr ng-repeat="address in addresses">
                    <td>{{address.dest}}</td>
                    <td>{{address.company}}</td>
                    <td>{{address.address}}</td>
                    <td>{{address.add_comp}}</td>
                    <td>{{address.city}}</td>
                    <td>{{address.province}}</td>
                    <td>{{address.zipcode}}</td>
                    <td>{{address.quantity}}</td>
                  </tr>
                </tbody>
              </table-->
  </div>
</div>


<div class="row" ng-show="addresses.length > 0">
  <div class="col-md-12">
      <h2>Etape 2 - Definir le nombre de pages</h2>
  </div>
</div>

<form role="form" ng-show="addresses.length > 0">
  <div class="row">
    <div class="col-md-4">
      <label for="pages">Entrer le nombre de pages du journal</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" name="pages" ng-model="numberOfPages" class="form-control" ng-change="calculateThresholds()">
      </div>
    </div>
    <div class="col-md-4">
      <div ng-show="thresholdForBoxes > -1 && thresholdForLetters > -1">
          <p><strong>Maximum pour les boites</strong> : {{thresholdForBoxes}}</p>
          <p><strong>Maximum pour les lettres</strong> : {{thresholdForLetters}}</p>
      </div>
    </div>
  </div>
</form>


<div class="row" ng-show="thresholdForBoxes > -1">
  <div class="col-md-12">
      <h2>Etape 3 - Verifier les adresses</h2>
      <h4>A envoyer par boites</h4>
      <button class="btn btn-small btn-primary" ng-show="boxesPDFFilename == null"ng-click="generateBoxes()" >Generer le PDF</button>
      <a class="btn btn-small btn-primary" ng-show="boxesPDFFilename != null" href="http://localhost:5000/pdf/{{boxesPDFFilename}}">Voir le PDF</a>

      <table class="table table-condensed">
        <thead>
          <th>Dest.</th>
          <th>Compagnie</th>
          <th>Address</th>
          <th>Add. comp.</th>
          <th>City</th>
          <th>Province</th>
          <th>Zip code</th>
          <th>Quantity</th>
        </thead>
        <tbody>
          <tr ng-repeat="address in addressesInABox = (addresses | filter:fitsInABox)">
            <td>{{address.dest}}</td>
            <td>{{address.company}}</td>
            <td>{{address.address}}</td>
            <td>{{address.add_comp}}</td>
            <td>{{address.city}}</td>
            <td>{{address.province}}</td>
            <td style="white-space: nowrap">{{address.zipcode}}</td>
            <td class="btn-primary">{{address.quantity}}</td>
          </tr>
        </tbody>
      </table>

      <h4>A envoyer par lettre</h4>
      <button class="btn btn-small btn-primary" ng-show="lettersPDFFilename == null" ng-click="generateLetters()" >Generer le PDF</button>
      <a class="btn btn-small btn-primary" ng-show="lettersPDFFilename != null" href="http://localhost:5000/pdf/{{lettersPDFFilename}}">Voir le PDF</a>

      <table class="table table-condensed">
        <thead>
          <th>Dest.</th>
          <th>Compagnie</th>
          <th>Address</th>
          <th>Add. comp.</th>
          <th>City</th>
          <th>Province</th>
          <th>Zip code</th>
          <th>Quantity</th>
        </thead>
        <tbody>
          <tr ng-repeat="address in addressesInALetter = (addresses | filter:fitsInALetter)">
            <td>{{address.dest}}</td>
            <td>{{address.company}}</td>
            <td>{{address.address}}</td>
            <td>{{address.add_comp}}</td>
            <td>{{address.city}}</td>
            <td>{{address.province}}</td>
            <td style="white-space: nowrap">{{address.zipcode}}</td>
            <td class="btn-primary">{{address.quantity}}</td>
          </tr>
        </tbody>
      </table>


      <!--h4>For Monos</h4>
      <table class="table">
        <thead>
          <th>Dest.</th>
          <th>Compagnie</th>
          <th>Address</th>
          <th>Add. comp.</th>
          <th>City</th>
          <th>Province</th>
          <th>Zip code</th>
          <th>Quantity</th>
        </thead>
        <tbody>
          <tr ng-repeat="address in addresses | filter:fitsInAMono">
            <td>{{address.dest}}</td>
            <td>{{address.company}}</td>
            <td>{{address.address}}</td>
            <td>{{address.add_comp}}</td>
            <td>{{address.city}}</td>
            <td>{{address.province}}</td>
            <td>{{address.zipcode}}</td>
            <td>{{address.quantity}}</td>
          </tr>
        </tbody>
      </table-->
  </div>
</div>
