<div class="row">
  <div class="col-md-12">
      <h2>Etape 1 - Choisir le fichier source</h2>
      <label for="inputExcel">Choisr le fichier Excel source</label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <form role="form">
          <div class="form-group">
            <input type="file" name="excelSource" ng-file-select="onFileSelect($files)" multiple class="form-control">
          </div>
      </form>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-sm btn-primary" ng-click="uploadFile($files)">Upload</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ng-show="addresses.length > 0">
      <h5>{{addresses.length}} addresses found</h5>
    </div>
    <div ng-show="uploadError != null">
      <h5 class="text-danger">Aucune adresse trouv&eacute;e: {{uploadError}}</h5>
    </div>
  </div>
</div>


<div class="row" ng-show="addresses.length > 0">
  <div class="col-md-12">
      <h2>Etape 2 - Definir le nombre de pages</h2>
  </div>
</div>

<form role="form" ng-show="addresses.length > 0">
  <div class="row">
    <div class="col-md-4">
      <label for="pages">Entrer le nombre de pages du journal</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" name="pages" ng-model="numberOfPages" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-sm" ng-click="calculate()">Calculer</button>
    </div>
  </div>
</form>


<div class="row" ng-show="shippings.length > 0">
  <div class="col-md-12">
      <h2>Etape 3 - Verifier les envois</h2>
      <button class="btn btn-small btn-primary" ng-show="shippingLabelsFilename == null" ng-click="generateShippingLabels()" >Generer les etiquettes</button>
      <a class="btn btn-small btn-success" ng-show="shippingLabelsFilename != null" href="http://localhost:5000/labels/{{shippingLabelsFilename}}">Imprimer les etiquettes</a>

      &nbsp;

      <button class="btn btn-small btn-primary" ng-show="invoiceFilename == null"ng-click="generateInvoice()" >Generer la facture</button>
      <a class="btn btn-small btn-success" ng-show="invoiceFilename != null" href="http://localhost:5000/invoice/{{invoiceFilename}}">Imprimer la facture</a>


      <table class="table table-condensed">
        <thead>
          <th>Dest.</th>
          <th>Address</th>
          <th>Transp.</td>
          <th>Quantity</th>
          <th>Boites 15"</th>
          <th>Boites 17"</th>
          <th>Env. T7</th>
          <th>Env. T7</th>
          <th>Total</th>
        </thead>
        <tbody>
          <tr class="info">
            <td><strong>{{shippingAddresses.length}}<strong></td>
            <td></td>
            <td></td>
            <td>{{shippingTotals.quantity}}</td>
            <td>{{shippingTotals.box15}}</td>
            <td>{{shippingTotals.box17}}</td>
            <td>{{shippingTotals.envT7}}</td>
            <td>{{shippingTotals.envT6}}</td>
            <td>{{shippingTotals.box15 + shippingTotals.box17 + shippingTotals.envT7 + shippingTotals.envT6}}</td>
          </tr>
          <tr ng-repeat="shipping in shippings">
            <td>{{shipping.address.dest}}</td>
            <td>
              <address>
                <strong>{{shipping.address.company}}</strong><br/>
                {{shipping.address.address}}, {{shipping.address.add_comp}}<br/>
                {{shipping.address.city}}, {{shipping.address.province}} {{shipping.address.zipcode}}
              </address>
            </td>
            <td>{{shipping.address.carrier}}</td>
            <td>{{shipping.address.quantity}}</td>
            <td><ul class="list-unstyled"><li ng-repeat="items in shipping.box15 track by $index">1x{{items}}</li></ul></td>
            <td><ul class="list-unstyled"><li ng-repeat="items in shipping.box17 track by $index">1x{{items}}</li></ul></td>
            <td><ul class="list-unstyled"><li ng-repeat="items in shipping.envT7 track by $index">1x{{items}}</li></ul></td>
            <td><ul class="list-unstyled"><li ng-repeat="items in shipping.envT6 track by $index">1x{{items}}</li></ul></td>
            <td>{{shipping.box15.length + shipping.box17.length + shipping.envT7.length + shipping.envT6.length}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>



<div class="row" ng-show="shippings.length > 0">
  <div class="col-md-12">
      <h2>Etape 4 - Verifier les palettes</h2>
      <button class="btn btn-small btn-primary" ng-show="paletteLabelsFilename == null" ng-click="generatePaletteLabels()" >Generer les etiquettes</button>
      <a class="btn btn-small btn-success" ng-show="paletteLabelsFilename != null" href="http://localhost:5000/labels/{{paletteLabelsFilename}}">Imprimer les etiquettes</a>

      &nbsp;

      <button class="btn btn-small btn-primary" ng-show="invoiceFilename == null"ng-click="generateInvoice()" >Generer la facture</button>
      <a class="btn btn-small btn-success" ng-show="invoiceFilename != null" href="http://localhost:5000/invoice/{{invoiceFilename}}">Imprimer la facture</a>


      <table class="table table-condensed">
        <thead>
          <th>Dest.</th>
          <th>Address</th>
          <th>Quantity</th>
          <th>Palette</th>
        </thead>
        <tbody>
          <tr ng-repeat="palettes in paletteBlocks">
            <td>{{palettes[0].address.dest}}</td>
            <td>
              <address>
                <strong>{{palettes[0].address.company}}</strong><br/>
                {{palettes[0].address.address}}, {{palettes[0].address.add_comp}}<br/>
                {{palettes[0].address.city}}, {{palettes[0].address.province}} {{palettes[0].address.zipcode}}
              </address>
            </td>
            <td>{{palettes[0].address.quantity}}</td>
            <td>
              <strong>{{palettes.length}} palettes</strong>
              <ul class="list-unstyled" style="margin-left:5px;">
                <li ng-repeat="palette in palettes">
                  {{palette.rows.length}} etages
                  <ul class="list-unstyled" style="margin-left:5px;">
                    <li ng-repeat="row in palette.rows">
                      <span ng-repeat="packet in row track by $index">{{packet}},</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
